



@media(max-width: 768px) {
    .menu {
        width: 768px;
        display: flex;
        justify-content: space-between;
        align-items: center;




        &-right {
            padding: 5px 55px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

        &-left {
            padding: 5px 55px;
            display: flex;
            justify-content: flex-start;
        }

    }

    .main {
        width: 768px;

        &-first {
            background-size: 368px 368px;

            &-title {
                padding: 135px 33px 135px 0px;

                &-words {
                    line-height: 53px;
                    font-size: 44px;
                }

                &-start {
                    font-size: 24px;
                    line-height: 29px;
                }

                &-end {
                    font-size: 24px;
                    line-height: 29px;
                }

                &-divider {
                    right: 350px;
                }

            }
        }

        &-discount {
            padding: 16px;
            display: block;

            &-up {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;


                &-button {
                    width: 232px;
                    padding: 45px 43px;
                    background-size: contain;
                }

                &>.main-discount-up-button:nth-child(2) {
                    background-size: contain;
                }

                &>.main-discount-up-button:nth-child(3) {
                    background-size: contain;
                }


            }

            &-down {
                padding: 33px;
            }
        }

        &-featured {
            &-cards {
                justify-content: space-around;
                width: 768px;

            }
        }
    }

    .footer {
        width: 768px;

        &-adv {
            flex-direction: column;

            &-pls {
                margin-bottom: 48px;
            }
        }

        &-soc {
            width: 768px;
            background-position: 25% 85%;
            background-size: cover;
            background-repeat: no-repeat;
            display: flex;
            padding: 0px;
            flex-wrap: wrap;
            flex-direction: column;

            &-fem {
                margin-top: 64px;
                margin-bottom: 48px;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                flex-direction: column;


                &-text {
                    margin-right: 0px;
                }
            }

            &-sub {
                margin-bottom: 140px;
            }

            &-sub {
                margin-left: 0px;
            }
        }

        &-cprgt {
            width: 768px;
        }

    }
}




@media(max-width: 375px) {
    .menu {
        width: 375px;
        padding: 0px;
        display: flex;
        padding-top: 18px;
        padding-bottom: 18px;

        &-right {
            padding: 0px;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            &-account {
                display: none;
            }

            &-cart {
                display: none;
            }
        }

        &-left {
            padding: 0px;
            margin-left: 16px;
            display: flex;
            justify-content: flex-start;
        }
    }

    .main {
        width: 375px;

        &-first {
            width: 375px;
            display: flex;
            background-image: none;

            &-title {
                padding: 149px 45px 149px 85px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;

                &-start {
                    line-height: 24px;
                    font-size: 20px;
                }

                &-end {
                    line-height: 24px;
                    font-size: 20px;
                }

                &-words {
                    line-height: 47px;
                    display: flex;
                    font-size: 38px;
                }
                &-divider {
                    right: 300px;
                    height: 61px;
                }
            }
        }
        &-discount {
            padding: 16px;
            &-up{
                display: flex;
                justify-content: center;
                margin-bottom: 0px;
                &-button{
                    width: 343px;
                    padding: 100px 43px;
                    margin-bottom: 32px;
                }
            }
        }
        &-featured{
            width: 375px;
            &-cards{
                width: 375px;

            }

        }
    }
    .footer{
        width: 375px;
        &-adv{
            width: 375px;
            padding: 48px 0px 0px 0px;
        }
        &-soc{
            padding-top: 0px;
            padding-bottom: 0px;
            width: 375px;
            &-sub{
                width: 341px;
                display: flex;
                &-input{
                    width: auto;
                }
                &-text{
                    font-size: 14px;
                }
            }
        }
        &-cprgt{
            display: flex;
            flex-direction: column-reverse;
            width: 375px;
            &-socials{
                margin-top: 43px;
                margin-bottom: 40px;
            }
        }
    }
}