* {
    margin: 0;
    padding: 0;
}

// Меню
.menu {
    width: 1600px;
    margin: 0 auto;
    background-color: black;
    display: flex;
    justify-content: space-between;

    &-left {
        display: flex;
        padding: 10px 115px;
        box-sizing: border-box;

        &-logo {
            margin-right: 41px;
            width: 40px;
            height: 40px;
        }

        &-search {
            width: 26px;
        }
    }

    &-right {
        display: flex;
        align-items: center;
        padding: 10px 115px;

        &-burger {
            margin-right: 33px;
        }

        &-account {
            margin-right: 33px;
        }
    }





}

.main {
    width: 1600px;
    margin: 0 auto;

    &-featured {
        padding-bottom: 95px;

        &-title {

            margin: 96px 0 0 0;
            color: #222222;
            text-transform: capitalize;
            font-size: 30px;
            text-align: center;
        }

        &-subtitle {
            color: #9F9F9F;
            font-size: 14px;
            text-align: center;
            margin: 6px;
        }

        &-cards {
            width: 1140px;
            margin: 0 auto;

            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            align-self: center;

            &-btn {
                margin-top: 30px;
                cursor: pointer;
                border: none;

                &-title {
                    margin: 25px 18px 13px 18px;
                    display: block;
                    text-transform: uppercase;
                    text-align: start;
                    font-size: 13px;
                    font-weight: 400;
                    line-height: 16px;
                }

                &-text {
                    margin: 0 0 18px 16px;
                    text-align: start;
                    width: 314px;
                    display: block;
                    font-size: 14px;
                    line-height: 17px;
                    font-weight: 300;
                    color: #5d5d5d;
                }

                &-price {
                    margin: 0 0 20px 18px;
                    text-align: start;
                    display: block;
                    font-size: 16px;
                    color: #F16D7F;
                    line-height: 19px;
                    font-weight: 400;
                }
            }

            &-all {
                display: block;
                justify-self: center;
                cursor: pointer;
                margin-top: 48px;
                width: 212px;
                height: 48px;
                background-color: transparent;
                color: #FF6A6A;
                border: solid 1px;
                font-size: 16px;
                line-height: 19px;
                font-weight: 400;
                border-color: #FF6A6A;
            }
        }
    }

    &-first {
        position: relative;
        display: flex;
        justify-content: end;
        background: url("/img/bg-main-block.png"), #f1e4e6;
        background-repeat: no-repeat;

        &-title {
            font-weight: 700;
            font-size: 32px;
            line-height: 38px;
            padding: 290px 330px 380px 0;
            box-sizing: border-box;
            text-transform: uppercase;

            &-words {
                display: block;
                font-weight: 900;
                font-size: 48px;
                line-height: 58px;
            }

            &-end {
                color: #f16d7f;
            }

            &-divider {
                position: absolute;
                width: 12px;
                height: 95px;
                background: #f16d7f;
                right: 755px;
            }
        }


    }

    &-discount {
        padding: 65px 230px;
        box-sizing: border-box;

        &-up {
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;

            &-button {
                width: 360px;
                padding: 105px 103px;
                box-sizing: border-box;
                border: none;
                background: rgba(0, 0, 0, 0.65) url("/img/wooman-card.png");
                background-blend-mode: darken;
                cursor: pointer;

                &-percent {
                    display: block;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 20px;
                    text-transform: uppercase;
                    color: #fff;
                }

                &-human {
                    display: block;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 29px;
                    text-transform: uppercase;
                    color: #f16d7f;
                }

                &:hover {
                    background-blend-mode: lighten;
                }
            }

            &>.main-discount-up-button:nth-child(2) {
                background: rgba(0, 0, 0, 0.65) url("/img/men-card.png");
            }

            &>.main-discount-up-button:last-child {
                background: rgba(0, 0, 0, 0.65) url("/img/child-card.png");
            }
        }

        &-down {
            width: 100%;
            padding: 65px;
            text-align: center;
            border: none;
            background: rgba(0, 0, 0, 0.65) url("/img/things-card.png");
            background-blend-mode: darken;
            cursor: pointer;

            &-percent {
                display: block;
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
                text-transform: uppercase;
                color: #fff;
            }

            &-text {
                display: block;
                font-weight: 700;
                font-size: 24px;
                line-height: 29px;
                text-transform: uppercase;
                color: #f16d7f;
            }

            &:hover {
                background-blend-mode: lighten;
            }
        }
    }
}

.footer {
    width: 1600px;

    &-adv {
        padding: 103px 230px;
        display: flex;
        background-color: #222224;

        &-pls {
            text-align: center;
            width: 360px;
            display: flex;
            margin-right: 30px;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            color: #FBFBFB;

            &-pic {
                width: auto;
                height: auto;
            }

            &-title {
                margin: 28px 0 16px 0;
                font-size: 20px;
                line-height: 24px;
                font-weight: 400;
            }

            &-text {
                font-size: 14px;
                line-height: 17px;
                font-weight: 400;
            }
        }
    }

    &-soc {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url('/img/footer-soc.jpg');
        width: 1600px;
        padding-top: 97px;
        padding-bottom: 123px;

        &-fem {
            margin-right: 223px;
            margin-bottom: 30px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            width: 96px;
            flex-direction: column;

            &-text {
                margin-right: 223px;
                width: 360px;
                display: flex;
                font-size: 20px;
                font-weight: 400;
                line-height: 24px;
                text-align: center;
            }
        }

        &-sub {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: 557px;
            height: 142px;
            margin-left: 223px;

            &-title {
                display: flex;
                font-size: 24px;
                justify-self: center;
                text-transform: uppercase;
                font-weight: bold;
                line-height: 30px;
            }

            &-text {
                display: flex;
                font-size: 24px;
                justify-self: center;
                text-transform: uppercase;
                font-weight: 400;
                line-height: 30px;
                margin-bottom: 32px;
            }

            &-input {
                padding-left: 22px;
                border-radius: 20px 0px 0px 20px;
                border: 0px;
                width: 256px;
                height: 50px;
            }

            &-btn {
                cursor: pointer;
                text-transform: capitalize;
                border-radius: 0px 20px 20px 0px;
                border: 0px;
                width: 100px;
                height: 50px;
                background-color: #F16D7F;
            }
        }
    }

    &-cprgt {
        display: flex;
        width: 1600px;
        height: 79px;
        background-color: #222224;
        color: #FBFBFB;
        justify-content: space-around;
        align-items: center;

        &-socials {}
    }
}

@media(max-width: 768px) {
    .menu {
        width: 768px;
        display: flex;
        justify-content: space-between;
        align-items: center;




        &-right {
            padding: 5px 55px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

        &-left {
            padding: 5px 55px;
            display: flex;
            justify-content: flex-start;
        }

    }

    .main {
        width: 768px;

        &-first {
            background-size: 368px 368px;

            &-title {
                padding: 135px 33px 135px 0px;

                &-words {
                    line-height: 53px;
                    font-size: 44px;
                }

                &-start {
                    font-size: 24px;
                    line-height: 29px;
                }

                &-end {
                    font-size: 24px;
                    line-height: 29px;
                }

                &-divider {
                    right: 350px;
                }

            }
        }

        &-discount {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-content: space-between;

            &-up {


                &-button {
                    width: 232px;
                }
            }

            &-down {}
        }
    }
}


/*
@media(max-width: 375px) {
    .menu {
        width: 375px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        &-wrp {

            &-right{
                display: flex;
                justify-content: flex-end;
                align-items: center;
            }
            &-left{
                display: flex;
                justify-content: flex-start;
                margin-right: 200px;
                margin-left: 16px;
            }
            &-account {
                display: none;
            }

            &-cart {
                display: none;
            }
        }
    }
    .main{
        width: 375px;
        &-first{
            background-image: none;
            &-title{
                display: flex;
                flex-wrap: wrap;
                padding: 148px 56px;
                &-start{
                    font-size: 20px;
                }
                &-end{
                    font-size: 20px;
                }
                &-words{
                    display: flex;
                    font-size: 38px;
                }
            }
        }
        &-divider{
            height: 61px;
        }

    }

}
    */